/* ==========================================================================
   Earth Lab Specific css highlighting this will allow us to more easily
   integrate with MIn Minstakes in the future
   ========================================================================== */

/* tags on the bottom of the page */
.a-main-tag {
       font-weight: bold;
       padding-left: .7em;
  }

/* search results on the main search page */
#main-search {
    font-size: .8em;
    width: 75%
}

/* search form on the top bar */
#searchString {
   }
div.search {
  margin-left: 65%;
  width: 30%;
  font-size: .8em;
   }
div.notice--success, div.notice--warning {
   padding: 2em !important;
   font-size: .8em !important;

   code {
     font-size: .9em;
     background-color: $code-background-color;
   }
}

.page__content .notice--warning h4 {
  font-size: 1.1em;
  margin-bottom: 0;
  margin-top: 2em !important;
  }


.nav__sub-title {
  background-color: mix(#000, $info-color, 20%);
  color: #fff;
  padding-left: .7em;
}

.nav__list li ul li {
    padding-left: 0.5em;
  }

/* previous and next buttons */
  .previous--next {
      margin-top: 2.5em;
  }


/* if the warning block is a header, remove the top margin so things line up */

  .header {
      margin-top: 0 !important;
  }

  /* for font awesome sizing */

  .fa-2 {
    font-size: .8em;
  }


  .nav__sub-title.grey {
    background-color: #fff;
    color: #7a8288;
    background-color: #fff;
    color: #7a8288;
    font-size: 1em;
    font-weight: normal;
    padding: 0;
  }

  /* Custom side bar links to Home and before /next week */

  .sidebar.sticky a {
      text-decoration: none;
  }

  .sidebar.sticky > h4 {
    margin-top: 0.3em;
}
  /* Force the TOC to have grey text not blue */

  #markdown-toc a {
    color: #7a8288;
    font-size: 0.9em;
}

/* Adding space under authors */
.page__title + .page__meta {
    margin-bottom: 1.4em;
}

/* For code blocks within .notice tags */

.notice pre, .notice--success pre, .notice--warning pre {
    font-size: 0.8em !important;
    padding: 0;
}

/* Site bar menu items */

.active-menu {
  border-left: 1px  solid #428aa0;
  border-right: 2px solid #428aa0;
  border-bottom: 2px solid #428aa0;
}

.active-section {
  background-color: #428aa0;
  color: #fff;
}
