/* ==========================================================================
   Earth Lab Specific css highlighting this will allow us to more easily
   integrate with MIn Minstakes in the future
   ========================================================================== */

div.notice--success, div.notice--warning {
   padding: 2em !important;
   font-size: .8em !important;

   code {
     font-size: .9em
   }
}


.nav__sub-title {
  background-color: mix(#000, $info-color, 20%);
  color: #fff;
  padding-left: .7em;
}
