{% assign sorted_posts = site.posts | sort:"order" %}
<!--<h3>Week {{ page.week }} Lessons</h3>-->

{% assign modules = site.posts | where:"order", 1 %}

{% assign weeks = sorted_posts | where:"week", page.week %}

{% assign classes = weeks | where:"module-type", 'class' %}
{% assign homework = weeks | where:"module-type", 'homework' %}

<nav class="nav__list">
  <ul>
    <li><span class="nav__sub-title"><i class="fa fa-folder-open" aria-hidden="true"></i> In Class Materials</span>
      <ul>
        {% for module in classes %}
        {% if module.order == 1 %}
            {% assign class_lessons = weeks | where:"class-lesson", module.class-lesson %}
            <li><span class="nav__sub-title grey"><i class="fa fa-book" aria-hidden="true"></i> {{ module.module-nav-title | capitalize }} </span></li>
        {% endif %}

        <ul>
        {% for alesson in class_lessons %}
          {% if alesson.url == page.url %}
          <li><a href= {{ site.url }}{{ alesson.url }} class='active'>{{ alesson.order }}. {{ alesson.nav-title }}</a></li>
          {% else %}
          <li><a href= {{ site.url }}{{ alesson.url }}>{{ alesson.order }}. {{ alesson.nav-title }}</a></li>
          {% endif %}
        {% endfor %}
       </ul>
        {% endfor %}
       </ul>

   <li><span class="nav__sub-title"><i class="fa fa-folder-open" aria-hidden="true"></i> Homework Materials</span>
     <ul>
       {% for module in homework %}
       {% if module.order == 1 %}
           {% assign class_lessons = weeks | where:"class-lesson", module.class-lesson %}
           <li><i class="fa fa-book" aria-hidden="true"></i> {{ module.module-nav-title }} </li>
       {% endif %}

       <ul>
       {% for alesson in class_lessons %}
         {% if alesson.url == page.url %}
         <li><a href= {{ site.url }}{{ alesson.url }} class='active'>{{ alesson.order }}. {{ alesson.nav-title }}</a></li>
         {% else %}
         <li><a href= {{ site.url }}{{ alesson.url }}>{{ alesson.order }}. {{ alesson.nav-title }}</a></li>
         {% endif %}
       {% endfor %}
        </ul>
       {% endfor %}
     </ul>
   </ul>
</nav>


{% if page.week %}
{% capture the_path %}{{ site.url }}/course-materials/earth-analytics/week-{{ page.week }}/{% endcapture %}

<h4><a href="{{ the_path }}" ><i class="fa fa-arrow-circle-left"></i> Week {{ page.week }} Home</a></h4>
{% endif %}

<h4><a href="{{ site.url }}/course-materials/earth-analytics/" ><i class="fa fa-arrow-circle-left"></i> Course Home</a></h4>
