<div class="page__hero--overlay" style=" background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('{{ site.url }}/images/header-images/earth-data-analytics-professional-certificate-banner.jpg');">
  <div class="wrapper">
        <h1 class="page__title" itemprop="headline">
          Earth Data Analytics Online Certificate
        </h1>
        <p><a href="http://bit.ly/2jc5SXy" target = "_blank" class="btn btn--light-outline btn--large">Enroll now! Learn more.</a></p>
  </div>
</div>
