
<!-- List the related sub topics if this is a tag sidebar element -->

<!-- first get the main tag for the page -->
{% for tags in page.topics %}
  {% assign page_main_tag = tags.first %}
{% endfor %}
<div id="sub-topics">
    <ul>
    <!-- Just get the sub topics associated with the main page tag -->
    {% for main_tag in site.data.topics %}
     {% if page.topics contains main_tag[0] %}

      {% for atag in main_tag.last %}
       {% for sub_topic in atag.last  %}
       {% assign topic_tag_counter = 0 %}
        {% for post in site.posts %}
          {% for tags in post.topics %}
            {% for a_tag in tags.last %}
            {% if a_tag == sub_topic %}
             {% assign topic_tag_counter = topic_tag_counter | plus: 1 %}
            {% endif %}
            {% endfor %}
          {% endfor %}
        {% endfor %}

          {% if topic_tag_counter > 0%}

          {% if page.topics.first[1] == sub_topic %}
          <li class='active'><a href="{{ site.url }}/tags/{{ main_tag[0] }}/{{ sub_topic }}"><i class="fa fa-tag" aria-hidden="true"></i> {{ sub_topic | uppercase }} {{ topic_tag_counter }}</a></li>
          {% else %}
          <li><a href="{{ site.url }}/tags/{{ main_tag[0] }}/{{ sub_topic }}"><i class="fa fa-tag" aria-hidden="true"></i> {{ sub_topic }} {{ topic_tag_counter }}</a></li>
          {% endif %}

          {% endif %}
       {% endfor %}

       {% endfor %}
       {% endif %}
       {% endfor %}
    </ul>
</div>
