{% assign the_course = page.course %}

{% assign course_posts = site.posts | where:"course", page.course %}

{% assign sorted_posts = course_posts | sort:"order" %}

{% assign chapters = sorted_posts | where:"order", 1 %}

<!-- make sure we're only grabbing pages for the course -->



<!--<h3>Week {{ page.week }} Lessons</h3>-->
<!-- i don't think the code below is used as modules is defined lower down as well. -->
{% assign modules = sorted_posts | where:"order", 1 %}
<!-- This is how modules are sorted on the left hand side bar -->

{% assign weeks = sorted_posts | where:"week", page.week %}

{% assign classes = weeks | where:"module-type", 'class' %}
{% assign homework = weeks | where:"module-type", 'homework' %}

<h5><a href="{{ site.url }}/courses/{{ page.course | slugify }}/" ><i class="fa fa-home" aria-hidden="true"></i> {{ page.course | replace: '-', ' ' | capitalize }}</a></h5>

<!-- Just get the pages from this course -->

{% assign course_posts = site.posts | where:"course", page.course %}
{% assign sorted_posts = course_posts | sort:'overview-order' %}

{% assign modules = sorted_posts | where:"module-type", 'overview' %}

<nav class="nav__list">


{% assign session_weeks = course_posts | where:"module-type", 'session' %}
{% assign sorted_session_weeks = session_weeks | sort:'week' %}
{% assign session_size = sorted_session_weeks | size %}

{% if session_size  > 0 %}
<ul>
  <li><span class="nav__sub-title"><i class="fa fa-book" aria-hidden="true"></i> Units</span>
   <ul>

       {% assign module_names = classes | where:"order", 1 %}

        {% for post in sorted_session_weeks %}

            <!-- Only list the week if it's not the week for the current landing page -->
            {% if post.week != page.week %}
                <li> <b>SECTION {{ post.week }} <a href="{{ site.url }}{{ post.permalink }}"> <!--<i class="fa fa-folder-o" aria-hidden="true"></i>-->
                {% if post.nav-title %}{{ post.nav-title | upcase }} {% else %} {{ post.title | upcase }}{% endif %}</a></b>
                </li>

                    <!-- list the chapters for each section  updating this to show a chapter number if it's a textbook-->
                    {% assign sorted_chapters = chapters | sort:"class-order" %}
                     <ul>
                        {% for chapter in sorted_chapters %}
                            {% if chapter.week == post.week %}
                                <li>
                                    <a href="{{ site.url }}{{ chapter.permalink }}"> {% if chapter.chapter %}Chapter {{ chapter.chapter }}: {% else %}{{ post.week }}.{{ chapter.class-order }} {% endif %}  {{ chapter.module-nav-title }} </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>


            {% endif %}

            <!-- This is for the activate section in the nav which is grey -->

            {% if post.week == page.week %}
                {% if post.url == page.url %}
                    <li>  <a href="{{ site.url }}{{ post.permalink }}" class='active'> SECTION {{ post.week }}<br><!--<i class="fa fa-folder-open" aria-hidden="true"></i> -->
                         {% if post.nav-title %} {{ post.nav-title | upcase }} {% else %} {{ post.title | upcase }}{% endif %}</a></li>
                {% else %}
                    <li class='active-section'> <a href="{{ site.url }}{{ post.permalink }}"><i class="fa fa-folder-open" aria-hidden="true"></i>
                    {% if post.nav-title %}{{ post.chapter }} {{ post.week }}. {{ post.nav-title | upcase }} {% else %} {{ post.week }}. {{ post.title | upcase }}{% endif %}</a></li>

            {% endif %}

<div class='active-menu'>
      <ul>
        {% assign module_names = classes | where:"order", 1 %}
        <!-- Note that class-order allows you to sort modules by class order if there are more than 1 in a class -->
        {% assign module_names = module_names | sort:"class-order" %}

        {% assign lesson_count = 0 %}

        {% for module in module_names %}

        {% assign theLesson = module.class-lesson %}
        {% assign class_lessons = weeks | where:"class-lesson", theLesson %}
        <!-- If it's a textbook with a chapter number write "chapter", else assume it is a week -->

          <li><span class="nav__sub-title grey"><i class="fa fa-caret-down" aria-hidden="true"></i>  {% if module.chapter %} Chapter {{ module.chapter }} {{ module.module-nav-title | capitalize }} {% else %} {{ module.week }}.{{ module.class-order }} {{ module.module-nav-title | capitalize }} {% endif %} </span></li>
        <ul>

      {% assign class_lessons = weeks | where:"class-lesson", theLesson %}
      <!-- count lessons -->

        {% for alesson in weeks %}
        {% assign lesson_count = lesson_count | plus: 1 %}
        {% if alesson.class-lesson == theLesson %}
          {% if alesson.url == page.url %}
          <li><a href= {{ site.url }}{{ alesson.url }} class='active'> <!--{{ page.week }}.{{ alesson.order }} -->- {{ alesson.nav-title }}</a></li>
          {% else %}
          <li><a href= {{ site.url }}{{ alesson.url }}><!--{{ page.week }}.{{ alesson.order }} --> - {{ alesson.nav-title }}</a></li>
          {% endif %}
          {% endif %}

        {% endfor %}
       </ul>
        {% endfor %}

        {% if lesson_count == 0 %} <li>Week {{ page.week }} readings and homework for the {{ page.course }} course. </li> {% endif %}
      </ul>

      <!-- BEGIN Learn how to lessons -->
       <ul>
         {% assign modules_count = 0 %}
         {% for hw_module in homework %}

         {% assign modules_count = modules_count | plus: 1%}
         {% if hw_module.order == 1 %}
             <li><span class="nav__sub-title grey"><i class="fa fa-caret-down" aria-hidden="true"></i> {{ hw_module.module-nav-title | capitalize }} </span></li>
             {% assign theLesson = hw_module.class-lesson %}
             {% assign class_lessons = weeks | where:"class-lesson", theLesson %}
         {% endif %}
         <ul>

         {% assign class_lessons = weeks | where:"class-lesson", theLesson %}

       <!-- count lessons -->

         {% for alesson in weeks %}

         {% if alesson.class-lesson == theLesson %}
         {% assign lesson_count = lesson_count | plus: 1 %}


           {% if alesson.url == page.url %}
           <li><a href= {{ site.url }}{{ alesson.url }} class='active'><!--{{ page.week }}.{{modules_count}}.{{ alesson.order }}--> - {{ alesson.nav-title }}</a></li>
           {% else %}
           <li><a href= {{ site.url }}{{ alesson.url }}><!--{{ page.week }}.{{modules_count}}.{{ alesson.order }} --> - {{ alesson.nav-title }}</a></li>
           {% endif %}
           {% endif %}
         {% endfor %}
        </ul>
         {% endfor %}
       </ul>


     </div>


      <!-- END BEGIN Learn how to lessons -->

      <!--  -->
      {% endif %}

    {% endfor %}
  </ul></li>
 </ul>
{% endif %}

 <ul>
   <li><span class="nav__sub-title"><i class="fa fa-folder-open" aria-hidden="true"></i> Overview</span>
    <ul>
     {% for post in modules %}
          {% if post.url == page.url %}
         <li><a href="{{ site.url }}{{ post.permalink }}" class='active'>
           {% if post.nav-title %}{{ post.nav-title }} {% else %} {{ post.title }}{% endif %}</a></li>
         {% else %}
         <li> <a href="{{ site.url }}{{ post.permalink }}">
           {% if post.nav-title %}{{ post.nav-title }} {% else %} {{ post.title }}{% endif %}</a></li>
         {% endif %}

     {% endfor %}
   </ul>
 </li>
</ul>
</nav>

<h5><a href="{{ site.url }}/courses/{{ page.course | slugify }}/" ><i class="fa fa-home" aria-hidden="true"></i> {{ page.course }} Home</a></h5>
