<div><a href="https://ndownloader.figshare.com/files/5407877" class="btn btn-success">
Download NEON Teaching Data Subset: TEAK-Data Institute 2016</a>
</div>

The LiDAR and imagery data used to create this raster teaching data subset were 
collected over the 
<a href="http://www.neonscience.org/" target="_blank">National Ecological Observatory Network's </a> (NEON)
<a href="http://www.neonscience.org/science-design/field-sites/lower-teakettle" target="_blank">Lower Teakettle field site </a>
and processed at NEON 
headquarters. The entire dataset can be accessed by request from the 
<a href="http://www.neonscience.org/data-resources/get-data/airborne-data" target="_blank"> NEON Airborne Data request page</a>
 on the NEON website.
