---
layout: default
---


{% include base_path %}

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

    <div class="archive">
      {% unless page.header.overlay_color or page.header.overlay_image %}
        <h1 class="page__title">{{ page.title }}</h1>
      {% endunless %}
        {{ page.author }} has contributed to the materials listed below.
        {{ page.bio }}
        {{ content }}
        {% if page.link %}<div><a href="{{ page.link }}" class="btn">{{ site.data.ui-text[site.locale].ext_link_label }}</a></div>{% endif %}

        <!-- List all posts in the page category  -->
        <h2>Course Lessons </h2>
        <p>Course lessons are developed as a part of a course curriculum. They teach
          specific learning objectives associated with data and scientific programming. {{ page.author }} has contributed to the following lessons: </p>

          {% assign course_lessons = site.posts | where:"category", 'courses' %}
          {% assign lesson_counter = 0 %}
          {% for lesson in site.categories.courses %}
            {% if lesson.authors contains page.author %}
            {% assign lesson_counter = lesson_counter | plus: 1 %}
          <details id="{{ lesson.title }}">
            <summary>
              <a href={{ lesson.url }} name={{ lesson.url }}>{{ lesson.title }}</a>
            </summary>
            {% if lesson.excerpt %}<p class="archive__item-excerpt">{{ lesson.excerpt }} </p>{% endif %}
          </details>
          {% endif %}
          {% endfor %}
          {% if counter == 0 %}
           <em>{{ page.author }} hasn't contributed to any course lessons... yet. </em>
          {% endif %}

         {% comment %}
        {% assign modules = site.posts | where:"order", 1 %}
          <!-- Just get modules the author has contributed to  -->
        {% for module in modules %}

        {% if module.authors contains page.author %}
        <div class="list__item">
          <article class="archive__item" >
          <h2 class="archive__item-title">
          <a href="{{ site.url }}{{ module.permalink }}">{{ module.module-title }}</a></h2>
          <p class='archive__item-excerpt'>{{ module.module-description }}</p>

          {% assign counter = 0 %}
          {% for post in site.categories['course-materials'] %}
              {% if post.class-lesson == module.class-lesson %}
                {% assign counter = counter | plus: 1 %}
              {% endif %}
          {% endfor %}

         {% assign slideCounter = 0 %}
          {% for slides in site.slide-shows %}
            {% if slides.class-lesson == module.class-lesson %}
              {% assign slideCounter = slideCounter | plus: 1 %}
            {% endif %}
          {% endfor %}
          <p class="page__meta">collaborators:
            {% for anAuthor in module.authors %}
            {% unless anAuthor == page.author %}
            {% assign currentItem = site.data.authors | where:"name", anAuthor %}
            <a href="{{ site.url }}{{ site.baseurl }}/authors/{{ currentItem[0].slug }}">{{ currentItem[0].name }}</a>{% if forloop.last == false %}, {% endif %}
            {% endunless %}
            {% endfor %}

          </p>
          <p class="page__meta">lessons: {{ counter }}, presentations {{ slideCounter }}</p>
          </article>
        </div>

        {% if counter == 0 %}
         <em>{{ page.author }} hasn't contributed to any course modules... yet. </em>
        {% endif %}

        {% endif %}
        {% endfor %}

        {% assign lessonCounter = 0 %}

        {% for member in site.data.course-materials %}
        {{ member }} Stuff
          {% if member.active %}
            <!-- if member contains the author -->
            {% if member.authors contains page.author %}
            {% assign lessonCounter = lessonCounter | plus: 1 %}
            <div class="list__item">
              <article class="archive__item">
                <h2 class="archive__item-title"><a href="{{ site.baseurl }}{{ post.url}}">{{ member.name }}</a></h2>
                <p class="archive__item-excerpt">{{ member.description }}</p>
              </article>
            </div>
            {% endif %}
          {% endif %}
        {% endfor %}
{% endcomment %}


        <h2> Data tutorials</h2>
        {% assign tutorialCounter = 0 %}
        {% for post in site.categories.tutorials %}
          {% if post.authors contains page.author %}
          {% assign tutorialCounter = tutorialCounter | plus: 1 %}

          <div class="list__item">
            <article class="archive__item">
              <h2 class="archive__item-title"><a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
              <p class="archive__item-excerpt">{{ post.excerpt }}</p>
            </article>
          </div>
          {% endif %}
        {% endfor %}

        {% if tutorialCounter == 0 %}
         <em>Nothing to list here yet! </em>
        {% endif %}

      </div>
</div>
