---
layout: default
---


{% include base_path %}

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  <div>{% include page__hero.html %}</div>
{% else %}
  {% include eda-certificate.html %}
{% endif %}


{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <article class="page" itemscope itemtype="http://schema.org/CreativeWork">

    {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
    {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date: "%B %d, %Y" }}">{% endif %}
    {% if page.modified %}<meta itemprop="dateModified" content="{{ page.modified | date: "%B %d, %Y" }}">{% endif %}

    <div class="page__inner-wrap">
        <header>
          {% unless page.header.overlay_color or page.header.overlay_image %}

          <!-- BEGIN: insert a welcome to the module block on pages that are part of a module set -->

          <!-- END: insert welcome block -->

          {% if page.title %}

              {% if page.course == "earth-analytics-python" or page.course == "earth-analytics-bootcamp" %}
                  <div class="notice--warning header" markdown="1">
                  <h1 class="page__title" itemprop="headline"> <i class="fa fa-6 fa-exclamation-circle" aria-hidden="true"></i> Check Out Our NEW Earth and Environmental Data Science Textbooks </h1>
                  <p>These textbooks complement the weekly assignments for our courses and can be used in any course to support
                    teaching and learning earth and environmental data science. </p>
                  <ul>
                      <li><a href="https://www.earthdatascience.org/courses/intro-to-earth-data-science/">Introduction to Earth Analytics Textbook</a></li>
                      <li><a href="https://www.earthdatascience.org/courses/use-data-open-source-python/">Intermediate Earth Analytics Textbook</a></li>
                      <li><a href="https://www.earthdatascience.org/courses/scientists-guide-to-plotting-data-in-python/">Earth Analytics Plotting Data Textbook</a></li>
                  </ul>
                  </div>
              {% endif %}
            {% if page.deprecated %}
                <h1 class="page__title" itemprop="headline">{% if page.order %}<i class="fa fa-6 fa-exclamation-circle" aria-hidden="true"></i> DEPRECATED / MOVED Lesson  {% endif %}</h1>
            {% else %}
                <h1 class="page__title" itemprop="headline">
                {% if page.order %}Lesson {{ page.order }}. {% endif %}
                {% if page.header1 %}{{ page.header1 | markdownify | remove: "<p>" | remove: "</p>" }}{% else %} {{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}{% endif %}
                {% if page.module %} {{ page.module | replace: '-', ' ' | capitalize }} {{ page.module-type | capitalize }} {% endif %}
                </h1>
            {% endif %}

          {% endif %}

          {% if page.authors %}
            <div class="page__meta">
              {% for anAuthor in page.authors %}
              {% assign currentItem = site.data.authors | where:"name", anAuthor %}
              <a href="{{ site.url }}{{ site.baseurl }}/authors/{{ currentItem[0].slug }}">{{ currentItem[0].name }}</a>{% if forloop.last == false %}, {% endif %}
              {% endfor %}
            </div>
          {% endif %}

            <br/>

            {% if page.order == 1 %}
            <div class="notice--warning header" markdown="1">
            {% if page.module-description %}
              {% if page.deprecated %}
                <h1> <i class="fa fa-6 fa-exclamation-circle" aria-hidden="true"></i> THIS LESSON IS MOVING! {{ page.module-title }} </h1>
                  We are moving all of the lessons in our courses to a more carefully designed set of textbooks. All of the same
                content will be available in these textbooks and will also be greatly improved and easier to use in a class!
                By the end of Spring 2020 this page will be deprecated. Visit the links below to check out our new content!
                <ul>
                    <li><a href="https://www.earthdatascience.org/courses/intro-to-earth-data-science/">Introduction to Earth Analytics Textbook</a></li>
                    <li><a href="https://www.earthdatascience.org/courses/use-data-open-source-python/">Intermediate Earth Analytics Textbook</a></li>
                    <li><a href="https://www.earthdatascience.org/courses/scientists-guide-to-plotting-data-in-python/">Earth Analytics Plotting Data Textbook</a></li>
                </ul>
              {% else %}
                  <h1> <i class="fa fa-6 fa-book" aria-hidden="true"></i> {{ page.module-title }} - {{ page.course | replace: '-', ' ' | capitalize }} course module</h1>
                  Welcome to the first lesson in the <strong>{{ page.module-title }}</strong> module.
                  {{ page.module-description }}
               {% endif %}
            {% endif %}
            </div>
            {% endif %}

              {% comment %}{% if page.read_time %}
                <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
              {% endif %}{% endcomment %}
            {% endunless %}

            <!-- For tools pages add authors and tool title -->

            {% if page.header.overlay_color or page.header.overlay_image %}
              <h2> {{ page.tool_page_title }} </h2>
              {% if page.authors %}
                <div class="page__meta">
                  Developers:
                  {% for anAuthor in page.authors %}
                  {% assign currentItem = site.data.authors | where:"name", anAuthor %}
                  <a href="{{ site.url }}{{ site.baseurl }}/authors/{{ currentItem[0].slug }}">{{ currentItem[0].name }}</a>{% if forloop.last == false %}, {% endif %}
                  {% endfor %}
                </div>
              {% endif %}
            {% endif %}
        </header>



      <section class="page__content" itemprop="text">

        <!-- would like to include the TOC automatically but this does weird things-->
        {% if page.class-lesson %}

        {% endif %}
          {% if page.deprecated %}
            {% unless page.module-description %}
              <div class="notice--warning header" markdown="1">
              <h1> <i class="fa fa-6 fa-exclamation-circle" aria-hidden="true"></i> THIS LESSON IS MOVING! {{ page.module-title }} </h1>
                We are moving all of the lessons in our courses to a more carefully designed set of textbooks. All of the same
              content will be available in these textbooks and will also be greatly improved and easier to use in a class!
              By the end of Spring 2020 this page will be deprecated. Visit the links below to check out our new content!
              <ul>
                  <li><a href="https://www.earthdatascience.org/courses/intro-to-earth-data-science/">Introduction to Earth Analytics Textbook</a></li>
                  <li><a href="https://www.earthdatascience.org/courses/use-data-open-source-python/">Intermediate Earth Analytics Textbook</a></li>
                  <li><a href="https://www.earthdatascience.org/courses/scientists-guide-to-plotting-data-in-python/">Earth Analytics Plotting Data Textbook</a></li>
              </ul>
             {% endunless %}
          </div>
          {% else %}
            {{ content }}
          {% endif %}

        {% if page.link %}<div><a href="{{ page.link }}" class="btn">{{ site.data.ui-text[site.locale].ext_link_label }}</a></div>{% endif %}

        <!-- if the page is a course lesson, add pagination -->

        {% if page.class-lesson or page.module %}
         {% include lesson-pagination.html %}
        {% endif %}
      </section>

      <footer class="page__meta">
        {% if site.data.ui-text[site.locale].meta_label %}
          <h4 class="page__meta-title">{{ site.data.ui-text[site.locale].meta_label }}</h4>
        {% endif %}
        {% include page__taxonomy.html %}



        {% if page.modified %}
          <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label }}</strong> <time datetime="{{ page.modified | date: "%Y-%m-%d" }}">{{ page.modified | date: "%B %d, %Y" }}</time></p>
        {% elsif page.date %}
          <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label }}</strong> <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time></p>
        {% endif %}
        <!-- Add license information w/ DOI to the bottom -->
        {% include license.html %}
      </footer>

      {% if page.share %}{% include social-share.html %}{% endif %}

       {% if page.category == 'tutorials' %}
        {% include post_pagination.html %}
       {% endif %}
    </div>

    {% if site.comments.provider and page.comments %}
      {% include comments.html %}
    {% endif %}
  </article>

  {% comment %}<!-- only show related on a post page when not disabled -->{% endcomment %}
  {% if page.id and page.related and site.related_posts.size > 0 %}
    <div class="page__related">
      {% if site.data.ui-text[site.locale].related_label %}
        <h4 class="page__related-title">{{ site.data.ui-text[site.locale].related_label }}</h4>
      {% endif %}
      <div class="grid__wrapper">
        {% for post in site.related_posts limit:4 %}
          {% include archive-single.html type="grid" %}
        {% endfor %}
      </div>
    </div>
  {% endif %}
</div>
